@import "@/assets/styles/variables.scss";

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: $tg-theme-bg;
  -webkit-tap-highlight-color: transparent;

  width: 48px;
  height: 24px;
  border-radius: 15px;

  transition: background-color 0.1s ease 0.1s;

  &::before {
    content: "";
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: $tg-theme-text;
    transition: transform 0.6s;
  }

  &--checked {
    transition: background-color 0.2s ease-out 0.2s;
    background-color: $tg-theme-accent;

    &::before {
      transform: translateX(24px);
      transition: transform 0.6s;
    }
  }
}